a {
	text-decoration: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}
	
h2, h3, h4, h5{
	text-align: center;
}

/*#albumArt {
	height: 200px;
	width: 200px;
}*/

li {
	list-style: none;
}

md-card-title-text {
	width: 300px;
}

/* angular material stuff */