a {
	text-decoration: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}
	
h2, h3, h4, h5 {
	text-align: center;
}

#album-art {
	/*padding: 8px;*/
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26)
}

dt {
	text-align: center;
}

dl {
	margin-top: 8px;
	/*margin: 0px 0px 0px 14px;*/
}

dd {
	text-align: center;
	margin: 0 0 0.5em 0
}

li {
	list-style: none;
}

/* angular material stuff */

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected:hover, md-nav-bar .md-button._md-nav-button.md-unselected:hover {
	color: #673AB7;
}

md-card md-card-header {
	padding-top: 0px;
}

md-card {
	/*height: 470px;*/
}

md-card h6 {
	text-align: center;
}

md-card-title-text ul {
	padding: 0px;
}

md-card button.md-button {
	margin-top: -8px;
}

/*.main-album-media {
	margin-left: 24px;
}*/

.md-padding {
	padding-bottom: 0px;
	padding-top: 0px;
}

md-card-actions {
	padding-right: 8px; 
}

md-card md-card-content {
	padding-top: 0px;
}

/*#album-container {
	height: 250px;
	width: 250px;
}*/

md-card-title-text {
	width: 300px;
}

.mdl-layout-title {
	cursor: pointer;
}

/* slick carousel */
.carousel {
	padding: 0px 50px;
}

slick {
	padding: 10px;
}

slick > .slick-prev:before, slick > .slick-next:before {
	color: purple;
}

.home-container {
	text-align: center;
	padding: 20px 200px;
}

.description {
	padding: 0px 200px;
}