a {
	text-decoration: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}
	
h2 {
	text-align: center;
}

img, p, form {
	padding-bottom: 1em;
}

body > nav {
	width:100%;
	background-color: #e7e7e7;
	padding-top: 15px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

dl dd {
  margin-bottom: 1em;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.albumArt {
	height: 200px;
	width: 200px;
	padding: 2%;
}

/* slick carousels*/
/*
moreTracks h3 {
	background: lavender;
    color: white;
    font-size: 14px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}*/
.slick-slide img {
	border: 5px solid lavender;
	display: block;
	height: 300px;
	width: 300px;
	text-align: center;
	/*width:100%;*/
}

slick .slick-prev:before, slick .slick-next:before {
	color: lavender;
}


.catBox {
	/*width: 300px;*/
	border: purple 3px solid;
	background-color: lavender;
	text-align: center;
	height: 100px;
	/*color: white;*/
}

.catBox > a {
	color: black;
	text-decoration: none;
	padding: 20px;
	margin-bottom: 0px;
	font-size: 20px;
}