<div class="home-container">
    <h2>PrinceBrainz</h2>
    <h3>Explore the many moods of Prince</h3>
    <div class="description">
        PrinceBrainz analyzes the acoustic qualities of songs
        in the KEXP Digital Library and showcases the variety of moods and
        tonal elements found in Prince's prolific catalogue.

        This project makes use of from <a href="https://acousticbrainz.org/">AcousticBrainz</a>,
        a crowd-sourced database of acoustic information about music.
    </div>
</div>